@using Mas.Core.Contants;
@model Mas.Application.ProductServices.Dtos.AddProductModel
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var units = ContantsUnit.Units();
}

<div class="page-heading">
    <h3>THÊM MỚI HÀNG HÓA</h3>

    <p class="text-subtitle text-muted">Thêm mới hàng hóa trong cửa hàng</p>
</div>
<div class="page-content">
    <div id="addProductForm">
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>THÔNG TIN HÀNG HÓA</strong>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="col-md-12 col-12">
                                                <h6>Mã vạch</h6>
                                                <div class="form-group position-relative">
                                                    <input type="text" class="form-control"
                                                           placeholder="Hệ thống tự động tạo mới khi để trống" name="BarCode" id="txtBarCode">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6>Tên hàng hóa</h6>
                                                <div class="form-group position-relative">
                                                    <input type="text" class="form-control"
                                                           placeholder="Tên hàng hóa thường gọi" name="Name" id="txtName">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6>Giá nhập</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="0" name="DefaultImportPrice" id="txtDefaultImportPrice" min="0">
                                                </div>

                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6 class="text-danger">Giá bán lẻ</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="0" name="DefaultSellPrice" id="txtDefaultSellPrice">
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-12">
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="IsSplitByImportPrice">
                                                            <label class="form-check-label"
                                                                   for="IsSplitByImportPrice">
                                                                Tự chia theo giá
                                                                nhập
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>


                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <h6 class="text-primary">Tồn kho hiện tại</h6>
                                                    <div class="form-group position-relative">
                                                        <input type="number" class="form-control" value="0" name="CurrentQuantity" id="txtCurrentQuantity">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <h6 class="text-primary">Định mức tồn kho</h6>
                                                    <div class="form-group position-relative">
                                                        <input type="number" class="form-control" value="0" name="InventoryLimit" id="txtInventoryLimit">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-12">
                                                <h6>Danh mục hàng</h6>
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="drpCategory" name="CategoryId">
                                                        <option value="" disabled selected>Tất cả</option>
                                                    </select>
                                                </fieldset>
                                            </div>


                                            <div class="col-md-12 col-12">
                                                <h6>Đơn vị tính cơ bản</h6>
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="dtpUnit" name="UnitId">

                                                        <option disabled selected>Tất cả</option>
                                                        @foreach (var unit in units)
                                                        {
                                                            <option value='@unit.Id'>@unit.Name</option>
                                                        }
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6 class="text-danger">Giá bán buôn</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="0" name="defaultWholeSalPrice" id="txtDefaultWholeSalePrice">
                                                </div>
                                            </div>



                                        </div>
                                        <div class="col-12 col-md-12 d-flex justify-content-end">
                                            <a href="javascript:;" class="btn btn-success add-transfer-session btn-sm">Thêm đơn vị chuyển đổi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="add-transfer">
            <table id="list-prices">
            </table>
            
        </div>
    </div>

</div>
<div class="col-12 d-flex justify-content-end">
    <button type="button" class="btn btn-primary me-1 mb-1" id="addProduct">Thêm mới mặt hàng</button>
    <a href="@Url.Action("Products","Admin")" class="btn btn-light-secondary me-1 mb-1">Hủy bỏ</a>
</div>
<script>
    GetCategories();
    var addProdUrl = "@Url.Action("AddProductJson", "Admin")";
</script>
<script src="~/assets/js/components/add-product.js"></script>

<div class="d-none" id="item-price-html">
    <section id="multiple-column-form" class="transfer-session">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>ĐƠN VỊ CHUYỂN ĐỔI </strong>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form">
                                <div class="row">
                                    <div class="col-md-12 col-12 row">
                                        <div class="col-md-5 col-5">
                                            <h6>Mã vạch</h6>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control" name="TransferBarCode" placeholder="Hệ thống tự tạo khi để trống">
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-5">

                                            <h6>Đơn vị tính cơ bản</h6>
                                            <fieldset class="form-group">
                                                <select class="form-select" name="ParentUnitId">
                                                    <option value="" disabled selected>Tất cả</option>
                                                    @foreach (var unit in units)
                                                    {
                                                        <option value='@unit.Id'>@unit.Name</option>
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-2 col-5">
                                            <h6>Tỉ lệ quy đổi</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="TransferQuantity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12 row">
                                        <div class="col-md-4 col-12">
                                            <h6>Giá nhập</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" min="0" name="ParentImportPrice">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h6 class="text-danger">Giá bán lẻ</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="ParentSellPrice">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h6 class="text-danger">Giá bán buôn</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="ParentWholeSalePrice">
                                            </div>
                                        </div>

                                        <div class="form-check form-switch col-12 col-md-12">
                                            <input class="form-check-input" type="checkbox"
                                                   id="flexSwitchCheckChecked">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">
                                                Đơn vị nhập hàng mặc định
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <a href="javascript:;" class="btn btn-danger btn-sm remove-transfer">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
