@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>HÀNG HÓA</h3>
            <p class="text-subtitle text-muted">Quản lý hàng hóa trong cửa hàng</p>
        </div>
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="home.html">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Hàng hóa</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-content">

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="col-12 d-flex justify-content-end" style="margin-bottom: 7px;" id="products-menu">
                    <a href="@Url.Action("AddProduct","Admin")" class="btn btn-success me-1 mb-1">
                        <i class="bi bi-lock-open"></i> Thêm mới
                    </a>
                    <button type="button" class="btn btn-success me-1 mb-1" id="import-excel">Nhập từ Excel</button>
                    <input type="file" id="upload-excel" hidden />
                    <a href="javascript:;" id="export-products" class="btn btn-success me-1 mb-1">Xuất file</a>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form>
                                <div class="row">


                                    <div class="col-md-8 col-12">
                                        <h6>Tìm kiếm</h6>
                                        <div class="form-group position-relative has-icon-left">
                                            <input type="text" class="form-control"
                                                   placeholder="Tên hàng / mã vạch / mô tả" name="keyword" id="keyword">
                                            <div class="form-control-icon">
                                                <i class="bi bi-search"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-12">
                                        <h6>Nhóm hàng</h6>
                                        <fieldset class="form-group">
                                            <select class="form-select" id="drpCategory" name="categoryId">
                                                <option value="" selected>Tất cả</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary me-1 mb-1" onclick="GetProducts(1);">
                                            Lọc mặt
                                            hàng
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Basic Tables start -->
    <section class="section">
        <div class="card">
            <div class="card-header">
                Danh mục hàng hóa
            </div>
            <div class="card-body">
                <table class="table" id="table1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Mã vạch</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Đơn vị</th>
                            <th>Danh mục</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="tblProducts">
                    </tbody>
                </table>


                <div class="dataTable-bottom">
                    @*<div class="dataTable-info">Hiển thị từ @((Model.PageIndex - 1) * Model.PageSize + 1) đến @(Model.PageIndex * Model.PageSize + 1) của @Model.TotalCount</div>*@
                    <ul class="pagination pagination-primary float-end dataTable-pagination" id="mas-pagingation" onclick="">
                    </ul>
                </div>
            </div>
        </div>

    </section>
</div>
<script src="/assets/vendors/jquery/jquery.min.js"></script>
<script src="/assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
<script src="/assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>
<script src="/assets/vendors/fontawesome/all.min.js"></script>

<script src="/assets/js/mazer.js"></script>
<script>
    $(document).ready(function () {
        GetCategories();
        GetProducts(1);
        $("#export-products").click(function() {
            $(this).attr("disabled", "disabled");
            let cate = $("#drpCategory").val();
            let url = "@Url.Action("ExportProducts", "Admin")";
            $.ajax({
                url: url,
                type: "GET",
                dataType: "json",
                contentType: "application/json",
                data: {
                    cateId: cate
                },
                success: function(data) {
                    let url = '<a download="danh-sach-san-pham" class="btn btn-primary download-file" href="/templates/' + data + '">Tải xuống</a>';
                    $("#products-menu").append(url);
                    showMessage("success", "Xuất file thành công mời tải xuống");

                    //TODO: delete file
                }
            })
        });

        $("#upload-excel").on("change", function() {
            var form_Data = new FormData();
            form_Data.append("Avatar", $("#upload-excel").get(0).files[0]);
            console.log(form_Data);
            let url = '@Url.Action("ImportProducts","Admin")';
            $.ajax({
                url: url,
                type: "POST",
                data: form_Data,
                contentType: false,
                processData: false,
                success: function(data) {
                    console.log(data);
                }

            })

        });

        $("#import-excel").click(function() {
            $("#upload-excel").click();
        });

        $("#btn-print-price-tag").click(function() {
            $("#modal-print-price").modal("hide");
            let title = $("#print-price-title").val();
            let name = $("#print-price-name").val();
            let price = $("#print-price-value").val();
            let request = {
                Title: title,
                Name: name,
                Price: price
            }

            $.ajax({
                url: '@Url.Action("PrintPrice","Admin")',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                data: JSON.stringify(request),
                success: function (data) {
                    PrintInvoice(data);
                }
            });
        })

    });
    function GetProducts(page) {
        let url = '@Url.Action("ProductsPaging", "Admin")';
        let keyword = $("#keyword").val();
        let cate = $("#drpCategory").val();
        $.ajax({
            url: url,
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            data: {
                keyword : keyword,
                categoryId : cate,
                page : page
            },
            success: function (data) {
                let html = '';
                if (data.items.length > 0) {
                    data.items.forEach(function (product, index) {
                        html += '<tr id="prod-';
                        html += product.id;
                        html += '"><td>';
                        html += index + 1;
                        html += '</td><td>';
                        html += product.barCode;
                        html += '</td><td><strong>';
                        html += product.name;
                        html += '</strong></td><td>';
                        html += product.defaultSell;
                        html += '</td><td> <span class="';
                        html += product.unit.description;
                        html += '">';
                        html += product.unit.name;
                        html += '</span></td><td>';
                        html += product.category;
                        html += '</td><td>';
                        html += '<a href="javascript:;" class="product-update" product-id=';
                        html += product.id;
                        html += '><i class="fa fa-edit text-primary"></i></a>&nbsp;';
                        html += '<a href="javascript:;" class="product-delete" product-id="';
                        html += product.id;
                        html += '"><i class="fa fa-trash text-danger"></i></a>&nbsp;';
                        html += '<a href="javascript:;" class="product-print-price" product-name="';
                        html += product.name;
                        html += '" product-price="';
                        html += product.defaultSell
                        html += '"><i class="fa fa-print text-dark"></i></a>';
                        html += '</td>';
                        html += '</tr>';
                    });
                    $("#tblProducts").html(html);

                    generatePaging(page, data.totalPage, GetProducts);

                    $("a.product-delete").click(function () {

                        let id = $(this).attr("product-id");
                        $('#prod-' + id).addClass("d-none");
                        DeleteProduct(id);
                    });

                    $("a.product-update").click(function () {

                        let url = '@Url.Action("UpdateProduct","Admin")' + '?id=' + $(this).attr("product-id");
                        window.location.href = url;
                    });

                    $("a.product-print-price").click(function() {
                        $("#print-price-name").val($(this).attr("product-name"));
                        $("#print-price-value").val($(this).attr("product-price"));
                        $("#modal-print-price").modal("show");
                    });
                } else {
                    html += '<tr><td colspan="7" class="text-center">Không tồn tại mặt hàng</td></tr>';
                    $("#tblProducts").html(html);
                }
            }
            });
    }

    function DeleteProduct(id) {
        let deleteUrl = '@Url.Action("DeleteProduct", "Admin")' +'?id=' + id;
        $.ajax({
            url: deleteUrl,
            type: "GET",
            dataType: 'json',
            contentType: 'application/json',
            success: function (data) {
                showMessage('danger', data);
            }
        });
    }

    function PrintInvoice(html) {
    var frame1 = document.createElement('iframe');
    frame1.name = "frame1";
    frame1.style.position = "absolute";
    frame1.style.top = "-1000000px";
    document.body.appendChild(frame1);
    var frameDoc = frame1.contentWindow ? frame1.contentWindow : frame1.contentDocument.document ? frame1.contentDocument.document : frame1.contentDocument;
    frameDoc.document.open();
    frameDoc.document.write(html);
    frameDoc.document.close();
    setTimeout(function () {
        window.frames["frame1"].focus();
        window.frames["frame1"].print();
        document.body.removeChild(frame1);
    }, 200);

    return false;
}
</script>
<div class="modal fade text-left modal-" id="modal-print-price" tabindex="-1"
     role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input id="update-group-id" hidden />
                <h5 class="modal-title" id="discount-title" style="text-transform: uppercase;">In giá sản phẩm</h5>
                <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                        aria-label="Close">
                    <i data-feather="x"></i>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-vertical">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="update-name">Tiêu đề</label>
                                    <input type="text" id="print-price-title" class="form-control" name="fname" value="KHUYẾN MẠI">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="update-description">Tên sản phẩm</label>
                                    <input class="form-control" id="print-price-name">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="update-description">Giá</label>
                                    <input class="form-control" id="print-price-value">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer pd-t-0">
                <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">Hủy bỏ</span>
                </button>
                <button type="button" class="btn btn-primary ml-1">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block" id="btn-print-price-tag">In</span>
                </button>
            </div>
        </div>
    </div>
</div>