@using Mas.Core.Contants;
@model Mas.Application.ProductServices.Dtos.ProductDetail
@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var units = ContantsUnit.Units();
}

<div class="page-heading">
    <h3>THÊM MỚI HÀNG HÓA</h3>

    <p class="text-subtitle text-muted">Thêm mới hàng hóa trong cửa hàng</p>
</div>
<div class="page-content">
    <form asp-action="UpdateProduct" asp-controller="Admin" id="updateProductForm" method="post">
        <section id="multiple-column-form">
            <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>THÔNG TIN HÀNG HÓA</strong>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <div class="form">
                                    <div class="row">
                                        <input type="text" name="Id" value="@Model.Id" hidden id="id" />
                                        <div class="col-md-6 col-12">
                                            <div class="col-md-12 col-12">
                                                <h6>Mã vạch</h6>
                                                <div class="form-group position-relative">
                                                    <input type="text" class="form-control"
                                                           placeholder="Hệ thống tự động tạo mới khi để trống" name="BarCode" id="txtBarCode" value="@Model.BarCode">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6>Tên hàng hóa</h6>
                                                <div class="form-group position-relative">
                                                    <input type="text" class="form-control"
                                                           placeholder="Tên hàng hóa thường gọi" name="Name" id="txtName" value="@Model.Name">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6>Giá nhập</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="@Model.DefaultImportPrice" name="DefaultImportPrice" id="txtDefaultImportPrice" min="0">
                                                </div>

                                            </div>
                                            <div class="col-md-12 col-12">
                                                <h6 class="text-danger">Giá bán lẻ</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="@Model.DefaultSellPrice" name="DefaultSellPrice" id="txtDefaultSellPrice">
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12 col-12">
                                                <div class="row">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="IsSplitByImportPrice">
                                                            <label class="form-check-label"
                                                                   for="IsSplitByImportPrice">
                                                                Tự chia theo giá
                                                                nhập
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>


                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                <h6 class="text-primary">Tồn kho hiện tại</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="@Model.CurrentQuantity" name="Inventory" id="txtInventory">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                    <h6 class="text-primary">Định mức tồn kho</h6>
                                                    <div class="form-group position-relative">
                                                        <input type="number" class="form-control" value="@Model.InventoryLimit" name="InventoryLimit" id="txtInventoryLimit">
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <div class="col-md-12 col-12">
                                                <h6>Nhóm mặt hàng</h6>
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="drpCategory" name="CategoryId">
                                                    </select>
                                                </fieldset>
                                            </div>


                                            <div class="col-md-12 col-12">
                                                <h6>Đơn vị tính cơ bản</h6>
                                                <fieldset class="form-group">
                                                    <select class="form-select" id="dtpUnit" name="UnitId">

                                                        <option disabled selected>Tất cả</option>
                                                        @foreach (var unit in units)
                                                        {
                                                            if (unit.Id == Model.UnitId)
                                                            {
                                                                <option value='@unit.Id' selected>@unit.Name</option>

                                                            }
                                                            else
                                                            {
                                                                <option value='@unit.Id'>@unit.Name</option>

                                                            }
                                                        }
                                                    </select>
                                                </fieldset>
                                            </div>

                                            <div class="col-md-12 col-12">
                                                <h6 class="text-danger">Giá bán buôn</h6>
                                                <div class="form-group position-relative">
                                                    <input type="number" class="form-control" value="@Model.WholeSellPrice" name="DefaultSellPrice" id="txtWholeSellPrice">
                                                </div>
                                            </div>
                                            <br />

                                        </div>
                                        <div class="col-12 col-md-12 d-flex justify-content-end">
                                            <a href="javascript:;" class="btn btn-success add-transfer-session btn-sm">Thêm đơn vị chuyển đổi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="add-transfer">
            @if (Model.Prices != null)
            {
               <table id="list-prices">
                @foreach (var price in Model.Prices)
                {
                    <tr>
                        <td>
                            <section id="multiple-column-form" class="transfer-session">
                                <div class="row match-height">
                                    <div class="col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <strong>ĐƠN VỊ CHUYỂN ĐỔI </strong>
                                            </div>
                                            <div class="card-content">
                                                <div class="card-body">
                                                    <div class="form">
                                                        <div class="row">
                                                            <div class="col-md-12 col-12 row">
                                                                <div class="col-md-5 col-5">
                                                                    <h6>Mã vạch</h6>
                                                                    <div class="form-group position-relative">
                                                                        <input type="text" class="form-control" name="TransferBarCode"
                                                                               value="@price.TransferBarCode" placeholder="Hệ thống tự tạo khi để trống">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-5 col-5">

                                                                    <h6>Đơn vị tính cơ bản</h6>
                                                                    <fieldset class="form-group">
                                                                        <select class="form-select" name="ParentUnitId">
                                                                            <option value="" disabled selected>Tất cả</option>
                                                                            @foreach (var unit in units)
                                                                            {
                                                                                if (unit.Id == price.ParentUnitId)
                                                                                {
                                                                                    <option value='@unit.Id' selected>@unit.Name</option>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <option value='@unit.Id'>@unit.Name</option>
                                                                                }

                                                                            }
                                                                        </select>
                                                                    </fieldset>
                                                                </div>

                                                                <div class="col-md-2 col-5">
                                                                    <h6>Tỉ lệ quy đổi</h6>
                                                                    <div class="form-group position-relative">
                                                                        <input type="number" class="form-control" value="@price.TransferQuantity" name="TransferQuantity">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 col-12 row">
                                                                <div class="col-md-4 col-12">
                                                                    <h6>Giá nhập</h6>
                                                                    <div class="form-group position-relative">
                                                                        <input type="number" class="form-control" value="@price.ParentImportPrice" min="0" name="ParentImportPrice">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-12">
                                                                    <h6 class="text-danger">Giá bán lẻ</h6>
                                                                    <div class="form-group position-relative">
                                                                        <input type="number" class="form-control" value="@price.ParentSellPrice" name="ParentSellPrice">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4 col-12">
                                                                    <h6 class="text-danger">Giá bán buôn</h6>
                                                                    <div class="form-group position-relative">
                                                                        <input type="number" class="form-control" value="@price.WholeSalePrice" name="ParentWholeSellPrice">
                                                                    </div>
                                                                </div>

                                                                <div class="form-check form-switch col-12 col-md-12">
                                                                    <input class="form-check-input" type="checkbox"
                                                                           id="flexSwitchCheckChecked">
                                                                    <label class="form-check-label" for="flexSwitchCheckChecked">
                                                                        Đơn vị nhập hàng mặc định
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-end">
                                                            <a href="javascript:;" class="btn btn-danger btn-sm remove-transfer">Xóa</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </td>
                    </tr>
                }
            </table> 
            }
            

        </div>
    </form>

</div>
<div class="col-12 d-flex justify-content-end">
    <button type="button" class="btn btn-primary me-1 mb-1" id="updateProduct">Cập nhật mặt hàng</button>
    <button type="button" class="btn btn-light-secondary me-1 mb-1">Hủy bỏ</button>
</div>


<div class="d-none" id="item-price-html">
    <section id="multiple-column-form" class="transfer-session">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>ĐƠN VỊ CHUYỂN ĐỔI </strong>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="form">
                                <div class="row">
                                    <div class="col-md-12 col-12 row">
                                        <div class="col-md-5 col-5">
                                            <h6>Mã vạch</h6>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control" name="TransferBarCode" placeholder="Hệ thống tự tạo khi để trống">
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-5">

                                            <h6>Đơn vị tính cơ bản</h6>
                                            <fieldset class="form-group">
                                                <select class="form-select" name="ParentUnitId">
                                                    <option value="" disabled selected>Tất cả</option>
                                                    @foreach (var unit in units)
                                                    {
                                                        <option value='@unit.Id'>@unit.Name</option>
                                                    }
                                                </select>
                                            </fieldset>
                                        </div>

                                        <div class="col-md-2 col-5">
                                            <h6>Tỉ lệ quy đổi</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="TransferQuantity">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-12 row">
                                        <div class="col-md-4 col-12">
                                            <h6>Giá nhập</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" min="0" name="ParentImportPrice">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h6 class="text-danger">Giá bán lẻ</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="ParentSellPrice">
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h6 class="text-danger">Giá bán buôn</h6>
                                            <div class="form-group position-relative">
                                                <input type="number" class="form-control" value="0" name="ParentWholeSellPrice">
                                            </div>
                                        </div>
                                        <div class="form-check form-switch col-12 col-md-12">
                                            <input class="form-check-input" type="checkbox"
                                                   id="flexSwitchCheckChecked">
                                            <label class="form-check-label" for="flexSwitchCheckChecked">
                                                Đơn vị nhập hàng mặc định
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex justify-content-end">
                                    <a href="javascript:;" class="btn btn-danger btn-sm remove-transfer">Xóa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        let categoryUrl = "@Url.Action("Categories","Admin")";
        GetCategories('@Model.CategoryId');
        $("a").click(function () {
            if ($(this).hasClass("add-transfer-session")) {
                let item = $("#item-price-html").html();
                let html = "<tr><td>" + item + "</td></tr>";
                $("#list-prices").append(html);

                $("a.remove-transfer").click(function () {
                    $(this).closest("tr").remove();
                });

            };

            if ($(this).hasClass("remove-transfer")) {
                $(this).closest("tr").remove();
            }
        });
        $("#updateProduct").click(function () {
            let isValid = ValidateInput();
            if (isValid == false) {
                return;
            }
            let id = $("#id").val();
            let barcode = $("#txtBarCode").val();
            let name = $("#txtName").val();
            let sellPrice = $("#txtDefaultSellPrice").val();
            let importPrice = $("#txtDefaultImportPrice").val();
            let currentQuantity = $("#txtInventory").val();
            let wholeSalePrice = $("#txtWholeSellPrice").val();
            let inventoryLimit = $("#txtInventoryLimit").val();
            let category = $("#drpCategory").val();
            let closeToDate = 0;
            let unit = $("#dtpUnit").val();

            var prices = [];

            $("#list-prices > tr").each(function () {
                let parentBarCode = $(this).find("input[name=TransferBarCode]").val();
                let parentUnit = $(this).find("select[name=ParentUnitId]").val();
                let parentTransfer = $(this).find("input[name=TransferQuantity]").val();
                let parentImport = $(this).find("input[name=ParentImportPrice]").val();
                let parentSell = $(this).find("input[name=ParentSellPrice]").val();
                let parentWholeSalePrice = $(this).find("input[name=ParentWholeSellPrice]").val();

                prices.push({
                    ParentUnitId: +parentUnit,
                    TransferQuantity: +parentTransfer,
                    ParentImportPrice: +parentImport,
                    ParentSellPrice: +parentSell,
                    TransferBarCode: parentBarCode,
                    WholeSalePrice: parentWholeSalePrice
                });
                console.log(parentBarCode);
            });


            let request = {
                Id: id,
                BarCode: barcode,
                Name: name,
                DefaultSellPrice: +sellPrice,
                DefaultImportPrice: +importPrice,
                WholeSalePrice: +wholeSalePrice,
                CurrentQuantity: +currentQuantity,
                InventoryLimit: +inventoryLimit,
                CategoryId: category,
                CloseToDate: 0, // TODO:
                UnitId: +unit,
                Prices: prices
            };

            console.log(request);
            let url = "@Url.Action("UpdateProductAsync","Admin")"
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                traditional: true,
                data: JSON.stringify(request),
                success: function (data) {
                    showMessage("success", data);
                }
            });

        });
    });

    function ValidateInput() {
        let barCode = $("#txtBarCode").val();
        if (barCode == '') {
            $("#txtBarCode").addClass("is-invalid");
            return false;
        }

        let name = $("#txtName").val();
        if (name == '') {
            $("#txtName").addClass("is-invalid");
            return false;
        }
        let unitId = $("#dtpUnit").val();
        if (unitId == '') {
            $("#dtpUnit").addClass("is-invalid");
            return false;
        }

        let category = $("#drpCategory").val();

        if (category == '') {
            $("#drpCategory").addClass("is-invalid");
            return false;
        }

        let parentUnit = $("#txtParentUnitId").val();
        if (parentUnit != '') {
            let tranfer = $("#TransferQuantity").val();
            if (tranfer < 1) {
                return false;
            }
        }

        let defaultSell = $("#txtDefaultSellPrice").val();
        if (defaultSell < 1) {
            $("#txtDefaultSellPrice").addClass("is-invalid");
            return false;
        }

        let defaultImport = $("#txtDefaultImportPrice").val();
        if (defaultImport < 1) {
            $("#txtDefaultImportPrice").addClass("is-invalid");
            return false;
        }


    }
</script>
