@using Microsoft.AspNetCore.Http
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minh Anh Market</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap.css">

    <link rel="stylesheet" href="/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/sales.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link href="/assets/css/common.css" rel="stylesheet" />
    <script src="/assets/js/common.js"></script>
</head>

<body>
    <div id="app">
        <div id="main" class="layout-horizontal">
            <header class="mb-3 sale-header">
                <div class="header-top">
                    <div class="container">
                        <div class="logo">
                            <a href="index.html"><img src="/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
                        </div>
                        <div class="header-top-right">

                            <div class="dropdown">
                                <a href="#" class="user-dropdown d-flex dropend" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <div class="avatar avatar-md2">
                                        <img src="@Context.Session.GetString("Avatar")" alt="Avatar">
                                    </div>
                                    <div class="text">
                                        <h6 class="user-dropdown-name">@Context.Session.GetString("Name")</h6>
                                        <p class="user-dropdown-status text-sm text-muted">@Context.Session.GetString("Role")</p>
                                    </div>
                                </a>
                                <ul class="dropdown-menu"
                                    aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="javascript:;">Cập nhật</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="@Url.Action("Logout","Home")">Thoát</a></li>
                                </ul>
                            </div>

                            <!-- Burger button responsive -->
                            <a href="#" class="burger-btn d-block d-xl-none">
                                <i class="bi bi-justify fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>


            </header>

            <div class="content-wrapper container-fluid">
                <div class="page-content">
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-9">
                                <div class="card full-height">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="form">
                                                <div class="row">
                                                    <!-- <div class="col-md-12 col-12"> -->
                                                    <div class="col-md-9 col-12 input-search">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control"
                                                                   placeholder="(F3) Nhập tên hàng hóa, mã hàng hóa, mô tả"
                                                                   id="productCode" autocomplete="off" >
                                                            <ul class="suggestion list-group" id="product-search-suggestion">
                                                            </ul>
                                                        </div>

                                                        
                                                    </div>
                                                    <div class="col-md-1 col-12">
                                                        <div class="form-group position-relative">
                                                            <input type="number" class="form-control" value="1" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 col-12">
                                                        <fieldset class="form-group position-relative">
                                                            <select class="form-select" id="saleType">
                                                                <option value="false">Giá bán lẻ</option>
                                                                <option value="true">Giá bán buôn</option>
                                                            </select>
                                                        </fieldset>

                                                    </div>
                                                    <hr>
                                                    <!-- </div> -->
                                                </div>
                                            </div>

                                            <div class="table-responsive">
                                                <table class="table table-borderless mb-0 table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 45%">HÀNG HÓA </th>
                                                            <th style="width: 10%">ĐƠN VỊ</th>
                                                            <th style="width: 10%">SL</th>
                                                            <th style="width: 15%">ĐƠN GIÁ</th>
                                                            <th style="width: 15%">THÀNH TIỀN</th>
                                                            <th style="width: 15%"></th>
                                                            <th class="d-none"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="cart-list">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 ">
                                <div class="card">
                                    <div class="card-content overflow-auto full-height">
                                        <div class="card-body">
                                            <i class="text-primary bi bi-calendar-date"></i> @DateTime.Now.ToString("dd-MM-yyyy hh:mm")
                                            <br>
                                            <br>
                                            <div class="form">
                                                <div class="row">
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group position-relative has-icon-left">
                                                            <div class="form-group">
                                                                <input type="text" class="form-control"
                                                                       placeholder="Để trống nếu khách lẻ" id="customer-name" autocomplete="off">
                                                                <ul class="suggestion list-group" id="customer-search-suggestion">
                                                                </ul>
                                                                <div class="form-control-icon">
                                                                    <i class="bi bi-person"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <h6 class="badge bg-success">Tổng tiền</h6>

                                                        </div>
                                                    </div>
                                                    <div class="row float-end d-block">
                                                        <div class="col-md-8 col-12 float-end">
                                                            <div class="col-12 d-flex justify-content-end">
                                                                <h2><strong id="order-total-money">0</strong></h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <br />
                                                    <div class="row">
                                                        <div class="col-md-4 col-12 d-flex justify-content-end">
                                                            <h3><strong class="text-danger">-</strong></h3>
                                                        </div>
                                                        <div class="col-md-8 col-12">
                                                            <div class="col-12 d-flex justify-content-end">
                                                                <a href="javascript:;" id="btn-order-discount"><h3><strong class="text-danger" id="order-discount-money">0</strong></h3></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr />
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <h6 class="badge bg-primary">Cần thanh toán</h6>

                                                        </div>
                                                        
                                                    </div>

                                                    <div class="row float-end d-block">
                                                        <div class="col-md-8 col-12 float-end">
                                                            <div class="col-12 d-flex justify-content-end">
                                                                <h2><strong id="order-total-money-checkout">0</strong></h2>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <hr />
                                                    <h6 for="floatingTextarea">Ghi chú đơn hàng</h6>
                                                    <textarea class="form-control half-height" placeholder="ghi chú về đơn hàng"
                                                              id="order-note"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container-fluid" style="position: absolute; bottom: 10px;">
                                            
                                            <div class="col-md-12 col-12">
                                                <button class="btn btn-success btn-lg btn-block" id="btn-checkout">(F10) Thu tiền</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="container">
                        <div class="float-start">
                            <p>2021 &copy; Nhan111Oi</p>
                        </div>
                        <div class="float-end">
                            <p>Minh Anh Shop - 521/65 Cổ Nhuế 2, Từ Liêm, Hà Nội</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    @*Discount modal*@
    <div class="modal fade text-left modal-borderless" id="modal-discount" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discount-title" style="text-transform: uppercase;">Border-Less</h5>
                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body pd-b-0">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Đơn giá</label>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="text" id="modal-product-price" class="form-control" name="fname" product-price="0" readonly="readonly">
                                </div>
                                <input id="modal-barcode" hidden type="text" />
                                <div class="col-md-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="radio" class="btn-check" name="isPercent" id="success-outlined" value="1" checked="">
                                        <label class="btn btn-outline-primary btn-sm" for="success-outlined">%</label>

                                        <input type="radio" class="btn-check" name="isPercent" id="danger-outlined" value="0">
                                        <label class="btn btn-outline-primary btn-sm" for="danger-outlined">Giá trị</label>
                                    </div>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="number" id="value-discount" class="form-control" min="0" value="0" placeholder="Nhập giá trị cần triết khấu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pd-t-0">
                    <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Hủy bỏ</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block" id="appendDiscount">Áp dụng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left modal-borderless" id="modal-order-discount" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="discount-title" style="text-transform: uppercase;">Giảm giá đơn hàng</h5>
                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body pd-b-0">
                    <div class="form form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <input id="modal-barcode" hidden type="text" />
                                <div class="col-md-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="radio" class="btn-check" name="isPercent-order" id="success-outlined" value="1" checked="">
                                        <label class="btn btn-outline-primary btn-sm" for="success-outlined">%</label>

                                        <input type="radio" class="btn-check" name="isPercent-order" id="danger-outlined" value="0">
                                        <label class="btn btn-outline-primary btn-sm" for="danger-outlined">Giá trị</label>
                                    </div>
                                </div>
                                <div class="col-md-8 form-group">
                                    <input type="number" id="order-value-discount" class="form-control" min="0" value="0" placeholder="Nhập giá trị cần triết khấu">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pd-t-0">
                    <button type="button" class="btn btn-light-primary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Hủy bỏ</span>
                    </button>
                    <button type="button" class="btn btn-primary ml-1">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block" id="order-append-discount">Áp dụng</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/pages/horizontal-layout.js"></script>

    <script src="/assets/vendors/jquery/jquery.min.js"></script>
    <script src="/assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
    <script src="/assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>
    <script src="/assets/vendors/fontawesome/all.min.js"></script>

    <script src="/assets/js/mazer.js"></script>
    <script>
        var urlGetProd = '@Url.Action("GetProduct","Employee")';
        var invoiceUrl = '@Url.Action("PrintInvoices","Employee")';
        var addInvoiceUrl = '@Url.Action("AddInvoice","Employee")';
        var urlSearchProd = '@Url.Action("SearchProduct","Admin")';
        var urlSearchCustomer = '@Url.Action("GetCustomers","Admin")'
    </script>
    <script src="~/assets/js/components/sales.js"></script>
</body>

</html>